<div *ngIf="preprocessLoading" class="container-fluid">
  <div class="col-md-12">
    <div class="col-md-5"></div>
    <div class="col-md-1 loading-icon"><i class="fa fa-cog fa-spin fa-3x"></i></div>
    <div class="col-md-1 loading-text"><p>Loading...</p></div>
    <div class="col-md-5"></div>
  </div>
</div>

<div *ngFor="let posts of blogPosts" class="container-fluid card post-container">
<!-- Blog entries -->
<div class="col-md-12 card-block card-inverse">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <div class="col-md-2">
    <img src="./../../{{posts.ThumbnailImage}}" alt="Nature" style="width:100%">
    </div>


<div class="col-md-10 body-container">
    <div class="w3-container">
      <h3><b>{{ posts.TitleHeading }}</b></h3>
      <div class="container-fluid">
      <div class="col-md-6 title-desc"><h5>{{ posts.TitleDescription }},</h5></div> 
      <div class="col-md-6 date-desc"><h5><p class="text-right">{{ posts.DisplayDate }}</p></h5></div>
      </div>
    </div>

    <div class="w3-container">
      <p>{{ posts.BlogBody }}</p>
      <div class="container-fluid">
        <div class="col-md-5">
          <p><button class="w3-button w3-padding-large w3-white w3-border" (click)="navigateToPost(posts.ID);"><b>READ MORE »</b></button></p>
        </div>
        <div class="col-md-5">
          <p class="text-right"><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">{{ posts.BlogComments }}</span></span></p>
        </div>
      </div>
    </div>
</div>


  </div>
</div>
</div>