.title-desc{
    padding-left:2px;
}
.date-desc{
    padding-right:0px;
}
.loading-text{
    font-size:30px;
    font-weight:bold;
    padding-left:0px;
    text-align:right;
}
.loading-icon{
    padding-right:0px;
    text-align:left;
}
.col-md-5{
    padding-right:0px;
    padding-left:0px;
}
.post-container{
    padding-bottom:20px;
    background:white;
    padding-left:0px;
    padding-right:0px;
    background-clip: content-box;
}