<div class="col-lg-10 col-md-10 tab-w3layouts">
				<section class="tabs">
					<input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
					<label for="tab-1" class="tab-label-1">About</label>
		
					<input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
					<label for="tab-2" class="tab-label-2">Education</label>
		
					<input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
					<label for="tab-3" class="tab-label-3">Experience</label>
			
					<input id="tab-4" type="radio" name="radio-set" class="tab-selector-4" />
					<label for="tab-4" class="tab-label-4">Contact</label>

          <input id="tab-5" type="radio" name="radio-set" class="tab-selector-5" />
          <label for="tab-5" class="tab-label-5">Resume</label>
            
					<div class="clear-shadow"></div>
				
					<div class="content">
						<div class="content-1">
							<h3>About me</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit nisl, ullamcorper eget elit vitae, vehicula consequat neque. Nunc sit amet orci at orci blandit dictum a sed diam. Curabitur ut pharetra sem. Aliquam erat volutpat. Cras scelerisque, nunc nec vulputate hendrerit, est neque pretium velit, at vulputate tortor neque ut ex. Vivamus sollicitudin eleifend urna, vitae hendrerit neque. Etiam egestas commodo dolor ut pulvinar.</p>
						</div>
						<div class="content-2">
							<h3>Education</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit nisl, ullamcorper eget elit vitae, vehicula consequat neque. Nunc sit amet orci at orci blandit dictum a sed diam. Curabitur ut pharetra sem. Aliquam erat volutpat. Cras scelerisque, nunc nec vulputate hendrerit, est neque pretium velit, at vulputate tortor neque ut ex. Vivamus sollicitudin eleifend urna, vitae hendrerit neque. Etiam egestas commodo dolor ut pulvinar.</p>
						</div>
						<div class="content-3">
							<h3>Experience</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit nisl, ullamcorper eget elit vitae, vehicula consequat neque. Nunc sit amet orci at orci blandit dictum a sed diam. Curabitur ut pharetra sem. Aliquam erat volutpat. Cras scelerisque, nunc nec vulputate hendrerit, est neque pretium velit, at vulputate tortor neque ut ex. Vivamus sollicitudin eleifend urna, vitae hendrerit neque. Etiam egestas commodo dolor ut pulvinar.</p>
						</div>
						<div class="content-4">
							<h3>Contact</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit nisl, ullamcorper eget elit vitae, vehicula consequat neque. Nunc sit amet orci at orci blandit dictum a sed diam. Curabitur ut pharetra sem. Aliquam erat volutpat. Cras scelerisque, nunc nec vulputate hendrerit, est neque pretium velit, at vulputate tortor neque ut ex. Vivamus sollicitudin eleifend urna, vitae hendrerit neque. Etiam egestas commodo dolor ut pulvinar.</p>
						</div>
            <div class="content-5">
              <h3>Header</h3>
              <p>We are testing</p>
            </div>
					</div>
				</section>
			</div>	