
	<!-- /navigation -->
	<!-- banner section -->	
  <app-carousel></app-carousel>
	<!-- /banner section -->
	<!-- second section -->
	<section class="second-w3ls">
		<div class="container-fluid">
			<app-about-me></app-about-me>
			<!--<app-profile></app-profile>-->
			<app-social-media></app-social-media>
			<!--<div class="clear"></div>-->
		</div>
	</section>
	<!-- /second section -->

	<!-- /third section -->

	<!-- /fourth section -->
	<!-- fifth section -->
	<!-- /fifth section -->
	<!-- sixth section -->

	<!-- /sixth section-->
	<!-- seventh section -->
	<!-- /seventh section -->
	<!-- eighth section -->
	<!-- /eighth section -->
	<!-- ninth section -->
	<!-- /ninth section -->